[Unit]
Description=Sidekiq Prometheus Exporter
After=network.target

[Service]
WorkingDirectory=/var/lib/sidekiq-prometheus-exporter
ExecStart=bundle exec rackup -p31337 -o0.0.0.0
Restart=always
DynamicUser=true

[Install]
WantedBy=multi-user.target
